<div class="sidebar">
    <span class="material-icons">menu</span>
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a [routerLink]="['/cadastrar']">Cadastrar novo Herói</a></li>
        <li><a routerLink="/listar">Listar Heróis</a></li>
        <li><a routerLink="/consultar">Consultar Herói por Id</a></li>
        <li><a routerLink="/atualizar">Atualizar Informações do Herói</a></li>
        <li><a routerLink="/excluir">Excluir Herói</a></li>
        <li><a href="http://localhost:8080/swagger-ui/index.html" target="_blank" rel="noopener">
                Documentação Swagger
            </a></li>
    </ul>
</div>